In [2]:
import pandas as pd
import os
import json
import requests
import pickle as pkl
import matplotlib.pyplot as plt
import numpy as np

DATADIR = "../../dataset"
WIKIDIR = DATADIR + "/wikidata/processed"
PBDBDIR = DATADIR + "/pbdb"

In [3]:
with open(os.path.join(WIKIDIR, "fossil_related_flat_tree_for_db.json"),"rb") as f:
    tree_for_db = json.load(f)

In [4]:
tree_for_db = pd.DataFrame(tree_for_db)

In [6]:
tree_for_db.shape

(71323, 10)

In [7]:
names = tree_for_db["name"].unique().tolist()

In [9]:
323-277

46

In [10]:
tree_for_db

,id,name,rank,pathFromRootById,pathFromRootByName,pathFromRootByRank,children,count,maxma,minma
0,Q2382443,Biota,superdomain,",Q2382443",",Biota",",superdomain","[Q1950208, Q28920818, Q808, Q20072875, Q19081,...",1286430,1000.0,0.0
1,Q19081,Prokaryota,domain,",Q2382443,Q19081",",Biota,Prokaryota",",superdomain,domain","[Q60972204, Q10876, Q13014476, Q10872]",101,635.0,28.1
2,Q10876,Bacteria,kingdom,",Q2382443,Q19081,Q10876",",Biota,Prokaryota,Bacteria",",superdomain,domain,kingdom","[Q24975421, Q26197526, Q26218602, Q3337759, Q6...",101,635.0,28.1
3,Q3337759,Negibacteria,subkingdom,",Q2382443,Q19081,Q10876,Q3337759",",Biota,Prokaryota,Bacteria,Negibacteria",",superdomain,domain,kingdom,subkingdom","[Q12963338, Q13012345, Q597831, Q1200941, Q536...",94,635.0,28.1
4,Q93315,Cyanobacteria,phylum,",Q2382443,Q19081,Q10876,Q3337759,Q93315",",Biota,Prokaryota,Bacteria,Negibacteria,Cyanob...",",superdomain,domain,kingdom,subkingdom,phylum","[Q16985953, Q21445955, Q3492534, Q1088359, Q34...",35,635.0,201.3
...,...,...,...,...,...,...,...,...,...,...
71318,Q3702219,Anabarites,genus,",Q2382443,Q19088,Q964455,Q129021,Q1205110,Q113...",",Biota,Eukaryota,Unikonta,Opisthokonta,Holozoa...",",superdomain,domain,subdomain,,,,,kingdom,fami...","[Q20716994, Q5147299, Q5155336, Q5146116]",190,635.0,513.0
71319,Q20716994,Anabarites trisulcatus,species,",Q2382443,Q19088,Q964455,Q129021,Q1205110,Q113...",",Biota,Eukaryota,Unikonta,Opisthokonta,Holozoa...",",superdomain,domain,subdomain,,,,,kingdom,fami...",[],94,541.0,485.4
71320,Q5147299,Anabarites gracilis,species,",Q2382443,Q19088,Q964455,Q129021,Q1205110,Q113...",",Biota,Eukaryota,Unikonta,Opisthokonta,Holozoa...",",superdomain,domain,subdomain,,,,,kingdom,fami...",[],2,541.0,516.0
71321,Q5155336,Anabarites sexalox,species,",Q2382443,Q19088,Q964455,Q129021,Q1205110,Q113...",",Biota,Eukaryota,Unikonta,Opisthokonta,Holozoa...",",superdomain,domain,subdomain,,,,,kingdom,fami...",[],16,520.0,513.0
71322,Q5146116,Anabarites trymatus,species,",Q2382443,Q19088,Q964455,Q129021,Q1205110,Q113...",",Biota,Eukaryota,Unikonta,Opisthokonta,Holozoa...",",superdomain,domain,subdomain,,,,,kingdom,fami...",[],11,520.0,513.0